.container_do_footer {
  width: 100%;
}
.content_do_footer_home {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: chocolate;
  width: 100%;
  height: max-content;
}
